extends layout

block content
  main.container-small
    section.about
      img(
        class="about-photo img-fluid"
        src='/images/kathie-bayne.jpg'
        alt='Kathie Bayne at Bates Nut Farm'
      )
      div.about-bio
        h1.about-title About Me
        p Hi, my name is Kathie Bayne. I am a graphic designer. Art has always been something I've had a passion for and being able to translate that into a career has been a dream come true. I love the challenges that design brings and nothing feels better than finding solutions to solve them.

        p I'm currently living in San Diego, CA. When I'm not working some things I like to do are hand lettering, camping, search for new interesting house plants, traveling and cooking.

        p If you're interested in getting in touch with me, #[a(href='mailto:kathiebayne@me.com') send me a message].